<div class="header relative">
    <div id="js-header-canvas" class="absolute h-full w-full">
        <div class="w-full h-full absolute shadow-header z-10"></div>
    </div>
    <div class="max-w-2xl mx-auto justify-center items-center py-24">
        <img class="mx-auto" src="/logo.svg" height="173"/>
        <h1 class="font-display text-center font-light uppercase mt-6 tracking-header text-white flex flex-col">
            <span class="text-4xl">Thread</span>
            <span class="text-2xl mt-1">Studios</span>
        </h1>
    </div>
</div>